.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.pagination a.active {
  background-color: #4c86af;
  color: white;
  border: 1px solid #4c86af;
}
*/ table {
  border-collapse: collapse;
  /* border-width: 100px; */
}

table,
td {
  border: 1px solid black;
}
